:root {
  main-col-13: #bbb217;
  main-col-12: #c0c2c7;
  main-col-1: #b3ad71;
  main-col-2: #553513;
  main-col-3: #837324;
  main-col-4: #ae481c;
  main-col-5: #fbf3e4;
  main-col-6: #c7aa6b;
  main-col-7: #ebe5d6;
  main-col-8: #dad3ca;
  main-col-9: #696969;
  main-col-10: #d8ac8c;
  main-col-11: #635549;
}
body {
  background: linear-gradient(to right, #fbf3e4, #bbb217);
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 96px;
  color: #696969;
  margin-bottom: 20px;
  margin-top: 140px;
}

p,
h4,
li {
  color: #ae481c;
}
p {
  padding: 15px;
  margin: 20px;
}
ul {
  max-width: 75%;
  margin: 30px auto;
}
li {
  text-align: center;
}
