:root {
  main-col-13: #bbb217;
  main-col-12: #c0c2c7;
  main-col-1: #b3ad71;
  main-col-2: #553513;
  main-col-3: #837324;
  main-col-4: #ae481c;
  main-col-5: #fbf3e4;
  main-col-6: #c7aa6b;
  main-col-7: #ebe5d6;
  main-col-8: #dad3ca;
  main-col-9: #696969;
  main-col-10: #d8ac8c;
  main-col-11: #635549;
}
.container {
  text-align: center;
  line-height: 1.5;
}
h1 {
  text-align: center;
  font-size: 96px;
  color: var(main-col-4);
}
.homepage {
  background: var(main-col-6);
  color: var(main-col-12);
  border: 1px solid var(main-col-12);
  padding: 5px;
  margin: 7px;
}

p {
  padding: 15px;
  margin: 30px;
}
#homepage {
  font-size: 18px;
  background: var(main-col-8);
}

.about {
  background: var(main-col-4);
  color: var(main-col-6);
  border: 1px solid var(main-col-4);
  padding: 5px;
  margin: 7px;
}

#about {
  font-size: 22px;
  background: var(main-col-3);
}
.contact {
  background: var(main-col-2);
  color: var(main-col-10);
  border: 1px solid var(main-col-2);
  padding: 5px;
  margin: 7px;
}
#contact {
  font-size: 24px;
  background: var(main-col-11);
  color: var(main-col-5);
}
.picture {
  background: var(main-col-5);
  color: var(main-col-11);
  border: 1px solid var(main-col-11);
  padding: 5px;
  margin: 7px;
}
